example.json
[{"id":"4e40a3a3.1b5c7c","type":"tab","label":"Flow 1"},{"id":"ab97b97b.ec5d98","type":"tab","label":"Flow 2"},{"id":"53ea791f.2e2538","type":"subflow","name":"tee","info":"","in":[{"x":135,"y":112,"wires":[{"id":"1356f3eb.ad03ac"}]}],"out":[{"x":562,"y":110,"wires":[{"id":"53ea791f.2e2538","port":0}]}]},{"id":"e554356.85106c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"81250062.a1439","type":"fiware-config","z":"","idas_server_url":"http://localhost:7896/iot/d","service":"OpenIoT","servicepath":"/agile","apikey":"4jggokgpepnvsb2uv4s40d59ov"},{"id":"6a16af10.88bb9","type":"websocket-client","z":"","path":"ws://192.168.2.106:8080/ws/device/dummy001122334455/DummyData/subscribe","wholemsg":"false"},{"id":"22f196d3.5bad1a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a6a4e01a.22b7","type":"mqtt-broker","z":"","broker":"134.60.64.232","port":"8008","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d087d1da.359ea","type":"websocket-client","z":"","path":"ws://agile:8080/ws/device/ble247189079500/Optical/subscribe","wholemsg":"false"},{"id":"10583a59.2dcbb6","type":"websocket-client","z":"","path":"ws://agile:8080/ws/device/ble247189079500/Optical/subscribe","wholemsg":"false"},{"id":"11d1b8b8.8435a7","type":"ui_tab","z":"","name":"dummy-tab","icon":"dashboard"},{"id":"2d596b4d.8fd5b4","type":"ui_group","z":"","name":"dummy-group","tab":"11d1b8b8.8435a7","disp":true,"width":"6"},{"id":"1356f3eb.ad03ac","type":"debug","z":"53ea791f.2e2538","name":"","active":true,"console":"false","complete":"false","x":356.5,"y":177,"wires":[]},{"id":"3d69ec5e.035954","type":"fiware-send-data","z":"4e40a3a3.1b5c7c","name":"fiware-temperature","server":"81250062.a1439","deviceid":"","attribute":"","x":497.5,"y":410,"wires":[[]]},{"id":"e78c656d.8555c8","type":"inject","z":"4e40a3a3.1b5c7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":417,"wires":[["c09b25fc.9125f8"]]},{"id":"c09b25fc.9125f8","type":"function","z":"4e40a3a3.1b5c7c","name":"","func":"o = { \n    \"deviceID\" : \"agile-temperature\",\n    \"componentID\" : \"t\",\n    \"value\": 25,\n    \"lastUpdate\": msg.payload\n};\nmsg.payload = JSON.stringify(o);\nreturn msg;","outputs":1,"noerr":0,"x":279.5,"y":404,"wires":[["3d69ec5e.035954"]]},{"id":"4ac661af.87b0f","type":"inject","z":"4e40a3a3.1b5c7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122.5,"y":53,"wires":[["ac8cc3b0.256ab"]]},{"id":"e2aeb2f2.0dce2","type":"debug","z":"4e40a3a3.1b5c7c","name":"","active":false,"console":"false","complete":"payload","x":506.5,"y":116,"wires":[]},{"id":"ac8cc3b0.256ab","type":"function","z":"4e40a3a3.1b5c7c","name":"","func":"msg.timestamp = msg.payload;\nmsg.payload = Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":337.5,"y":55,"wires":[["e2aeb2f2.0dce2"]]},{"id":"7de8923b.9147ec","type":"inject","z":"4e40a3a3.1b5c7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113.5,"y":277,"wires":[["ac8cc3b0.256ab","f75e0707.965578"]]},{"id":"f75e0707.965578","type":"subflow:53ea791f.2e2538","z":"4e40a3a3.1b5c7c","x":325.5,"y":231,"wires":[["e2aeb2f2.0dce2"]]}]
